/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Footer Section */
.footer_area {
    background-color: #ec8493; /* Nền màu đen */
    color: #fff; /* Chữ màu trắng */
    padding: 20px;
    text-align: center;
}

.footer_area h3 {
    font-size: 36px;
    margin: 0 0 20px;
}

.footer_area .Content label {
    display: block;
    font-size: 18px;
    margin: 10px 0;
    transition: transform 0.3s ease; /* Hiệu ứng phóng to văn bản */
}

.footer_area .Content label:hover {
    transform: scale(1.1); /* Phóng to văn bản khi đưa chuột vào */
}
